/* hero slider section */
.fess {
  margin-left: 0;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero,
.m-hero {
  height: 100vh;
  display: flex;
  position: relative;
  font-family: "Fraunces", sans-serif;
}
.m-hero {
  width: 100vw;
  height: auto;
}
.m-slider {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.m-slides {
  display: flex;
  width: 500%;
}
.m-slide {
  width: 100vw;
  transition: 2s;
}
.m-slide img {
  width: 100%;
  height: 95vh;
}
.radio {
  position: absolute;
  top: 50%;
}
.desktop {
  display: none;
}
input[type="radio"] {
  display: none;
}
.hero h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 50px;
  position: absolute;
  line-height: 75px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
}
.m-hero h1 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  color: #fff;
}
.manual-btn {
  border-radius: 10px;
  padding: 8px;
  transition: 1s;
  cursor: pointer;
}
#m-radio1:checked ~ .mfirst {
  margin-left: 0;
}
#m-radio2:checked ~ .mfirst {
  margin-left: -20.25%;
}
#m-radio3:checked ~ .mfirst {
  margin-left: -40.25%;
}
.m-nav-auto {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 64%;
}
.m-nav-auto div {
  background: #c4c4c4;
  border-radius: 10px;
  padding: 8px;
  transition: 1s;
}
.manual-btn:not(:first-child),
.m-nav-auto div:not(:first-child) {
  margin-left: 40px;
}
#m-radio1:checked ~ .m-nav-auto .auto-btn1 {
  background: #1236f0;
}
#m-radio2:checked ~ .m-nav-auto .auto-btn2 {
  background: #1236f0;
}
#m-radio3:checked ~ .m-nav-auto .auto-btn3 {
  background: #1236f0;
}
.intro {
  position: absolute;
  z-index: 3;
  display: flex;
  width: 100%;
  top: 42%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slide img,
.m-slide img {
  opacity: 0.5;
}
.slide,
.m-slide {
  /* background: hsla(0, 0%, 0%, 0.6); */
  background: hsla(0, 0%, 0%);
}
/* hero slider end */

/* sections */
.sections {
  margin-top: 0;
  position: relative;
}
section {
  width: 100%;
  position: relative;
}
section h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 30px;
  color: #01205f;
}
.first-section {
  position: relative;
}
.first-section .bent-arrow,
.first-section .text {
  position: absolute;
  top: 0;
  left: 40px;
  z-index: 5;
}
section .grow {
  position: absolute;
  top: 0;
}
section .grow {
  width: 100%;
}
.grow img {
  width: 100%;
}
.desktop-arrow,
.tab-arrow {
  display: none;
}
@keyframes grow {
  0% {
    width: 10%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
.bent-arrow svg {
  animation: grow;
  animation-duration: 2s;
  animation-iteration-count: 5;
}
.first-sec{
  position: relative;
}
.second {
  position: relative;
  margin-top: 70%;
  display: flex;
  justify-content: center;
  /* padding: 24px; */
}
.grid h4 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 16px;
}
.grid h4,
.grid p,
.pands h4,
.pands p,
.pands h3 {
  font-family: "Nunito";
}
.grid p {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 25px;
  margin-top: 24px;
  padding: 8px;
}
.grid .line {
  padding: 5px;
}
.grid-one,
.grid-two,
.grid-three {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.grid-two,
.grid-three {
  margin-top: 32px;
}
.pands {
  position: relative;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pands-1 {
  position: relative;
}
.pands-1 .arrow {
  position: absolute;
}
.pands .cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pands h4,
.aboutus h4 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: #01205f;
  line-height: 25px;
}
.pands-1 p {
  margin-top: 16px;
}
.pands-1 .spaced {
  margin-top: 40px;
  /* margin-bottom: 24px; */
}
.pands p {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  font-family: "Nunito";
}
.pands-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pands-2 div img {
  width: 100%;
}
.cont div a {
  width: 200px;
  /* margin-top: 24px */
}
.cont .btn{
  margin-top: 24px;
}
.abutton{
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 43px;
  padding: 10px;
  background: #01205f;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.abutton:hover{
  background: hsla(220, 98%, 19%,0.5);
}
.cont div a button svg {
  width: 8px;
}
.pands-1 .arrow {
  left: 10px;
  top: 30px;
}
.aboutus {
  padding-top: 72px;
  position: relative;
}
.aboutus h4 {
  color: #000;
  font-family: "Nunito";
}
.aboutus .text p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin-top: 16px;
  opacity: 0.9;
}
.aboutus .masked{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}
.aboutus .masked .relativ{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92%;
}
.relativ img{
  width: 100%;
}
.aboutus section .btn{
  margin-top: 24px;
}
.aboutus section div button{
  margin: 0 auto;
}
.aboutus section div a {
  width: 200px;
}
.vision{
  margin-top: 80px;
  padding: 24px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.vision-img{
  border-radius: 15px;
  width:100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  background: hsla(0, 0%, 0%);
}
.vision-img img{
  width:100%;
  opacity: 0.5;
}
.vision .vision-grid{
  position: absolute;
  top: 0px;
}
.transparent .btn{
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}
.transparent .btn button{
  background: transparent;
  padding: 0;
}
.transparent{
  background: hsla(0, 100%, 100%,0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
}
.transparent p, .h-p{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.9;
}
.transparent p{
  margin-top: 40px;
}
.transparent .godown{
  margin-top: 80px;
}
.transparent h4, .h-four{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #FFFFFF;
  opacity: 0.9;
}
.blog{
  margin-top: 32px;
}
.blog .h-four,.blog .h-p{
  color: #01205F;
  text-align: center;
}
.blog-svg{
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog .h-p{
  padding: 16px;
}
.blog .btn{
  width: 100%;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog .btn a{
  margin-left: 40px;
  width: 200px;
}
.joinus{
  margin-top: 64px;
  padding: 16px;
}
.joinus .blue{
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(293deg, #01205F 88.56%, #190DAA 226.77%);
}
.joinus-svg{
  width: 90%;
  margin: 0 auto;
}
.joinus-svg img{
  width: 100%;
}
.joinus-text{
  background: #fff;
  padding: 16px;
  border-radius: 8px;
}
.joinus-text .h-four{
  font-size: 24px;
}
.joinus-text p{
  margin-top: 16px;
}
.paddit{
  padding: 16px;
}
.joinus-text div a{
  color: #2213D7;
  opacity: 0.9;
  position: relative;
}
.joinus-text h4, .joinus-text p{
  color: #000;
  text-align: center;
}
.joinus-text .small{
  font-size: 18px;
}
.joinus-text div a svg{
  margin-top: 8px;
}
.two-links{
  display: flex;
  align-items: center;
}
.shift{
  margin-left: 16px;
}
.shift-again{
  margin-left: 8px;
}
.underline:hover{
  text-decoration: underline;
  text-decoration-color: #2213D7;
}
.joinus-text .social{
  color: #000;
}
.joinus-text .social:hover{
  color: #2213D7;
}
.two-links .shift{
  margin-left: 40px;
}
.facebook-div, .telegram-div{
  margin-top: 16px;
}
.facebook-div, .telegram-div, .insta, .linkedin{
  display: flex;
  align-items: center;
}
/* section end */

/* footer  */
footer{
  margin-top: 24px;
  width: 100vw;
  padding: 32px;
  background: #F7F7F7;
  border: 1px solid #EEEEEE;
}
.ftrcolor{
  color: #396D13;
  opacity: 0.9;
}
.footer{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer .similr{
  margin-top: 24px;
}
.footer-logo{
  grid-column: 1/3;
}
.footer .similr h4{
  font-weight: 700;
}
.copyrite{
  margin-top: 48px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.copyrite .h-p{
  font-size: 14px;
}
.footer-sh p{
  margin-top: 16px;
}
.footer .six .footer-links  a{
  color: #396D13;
}
.footer .six{
  margin-top: 40px;
}
.footer .six .footer-links a:hover{
  font-size: 20px;
}
.footer .six .footer-links{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
/* footer end */
/* desktop and Tab */
@media screen and (min-width: 728px) {
  .mobile {
    display: none;
  }
  .tab-arrow {
    display: block;
  }
  .desktop {
    display: block;
  }
  /* hero slider section */
  .hero h1 {
    font-size: 50px;
  }
  .slider {
    width: 100vw;
    height: 800px;
    overflow: hidden;
  }
  .slides {
    width: 500%;
    height: 800px;
    display: flex;
    align-items: center;
  }
  .slide {
    transition: 2s;
    width: 100vw;
  }
  .slide img {
    width: 100vw;
    height: 100%;
  }

  /* manual navigation */
  .nav-manual {
    position: absolute;
    margin-top: -20%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .manual-btn {
    border-radius: 10px;
    padding: 8px;
    transition: 1s;
    /* margin-left: 10px; */
    cursor: pointer;
  }
  .manual-btn:not(:first-child) {
    margin-left: 40px;
  }
  #radio1:checked ~ .first {
    margin-left: 0;
  }
  #radio2:checked ~ .first {
    margin-left: -20%;
  }
  #radio3:checked ~ .first {
    margin-left: -40%;
  }

  /* automatic navigation */
  .nav-auto {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 60%;
    z-index: 1;
  }
  .nav-manual {
    z-index: 5;
  }
  .nav-auto div {
    background: #c4c4c4;
    border-radius: 10px;
    padding: 8px;
    transition: 1s;
  }
  .nav-auto div:not(:first-child) {
    margin-left: 40px;
  }
  #radio1:checked ~ .nav-auto .auto-btn1 {
    background: #1236f0;
  }
  .blue {
    background: #1236f0;
  }
  #radio2:checked ~ .nav-auto .auto-btn2 {
    background: #1236f0;
  }
  #radio3:checked ~ .nav-auto .auto-btn3 {
    background: #1236f0;
  }
  .slides {
    transform: translateY(-20%);
  }
  .nav-manual {
    top: 80%;
  }
  .nav-manual div {
    background: transparent;
  }
  .intro {
    top: 24%;
  }
  /* hero slider end */

  /* sections */
  .main {
    height: 40vh;
  }
  .sections {
    margin-top: 16px;
  }
  section h2 {
    font-size: 50px;
    line-height: 75px;
  }
  .first-sec{
    margin-top: 96px;
  }
  .first-section .bent-arrow,
  .first-section .text {
    top: -20px;
    left: 56px;
  }
  .first-section .bent-arrow {
    top: -32px;
  }
  .second {
    display: flex;
    justify-content: center;
    padding: 24px;
  }
  .second .grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding: 8px;
  }
  .grid p {
    text-align: left;
    line-height: 25px;
    padding: 4px;
  }
  .grid h4 {
    margin-top: 16px;
  }
  .grid-one,
  .grid-two,
  .grid-three {
    display: block;
    margin-top: 0;
  }
  .pands {
    padding: 24px;
    /* margin-top: 130%; */
  }
  .pands-1 {
    margin-top: 40px;
  }
  .pands .cont {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    grid-column-gap: 24px;
  }
  .pands-2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .pands-1 h4 {
    text-align: left;
  }
  .pands-2 .go-down {
    margin-top: 50%;
  }
  .pands p {
    text-align: left;
  }
  .pands-1 .spaced {
    padding-right: 24px;
  }
  .cont div a {
    width: 120px;
  }
  .cont div a button {
    width: 100%;
  }
  .pands-1 .arrow {
    left: 80%;
    top: 20%;
  }
  .aboutus {
    padding-top: 0;
  }
  .aboutus h4 {
    text-align: left;
  }
  .aboutus .text {
    grid-area: text;
  }
  .aboutus .masked {
    grid-area: masked;
    padding-top: 0;
    padding: 16px;
  }
  .aboutus .masked .relativ{
    display: block;
    width: 100%;
  }
  .aboutus section {
    margin-top: 24px;
    display: grid;
    grid-column-gap: 24px;
    grid-template-columns: 0.8fr 1fr;
    grid-template-areas: "masked text";
    padding: 16px;
  }
  .aboutus .text{
    padding-top: 80px;
  }
  .aboutus .text p {
    padding-right: 40px;
    margin-top: 24px;
    text-align: left;
  }
  .masked div{
    height: 450px;
  }
  .masked .masked-img {
    width: 100%;
    height: 100%;
    z-index: 5;
    position: absolute;
  }
  .masked .relativ{
    position: relative;
  }
  .under-masked{
    position: absolute;
    top: 80px;
    width: 100px;
    height: 40px;
    left: 250px;
    /* z-index: 1; */
    transform: translateY(32%);
    opacity: 0.9;
  }
  .under-masked img{
    width:100%;
    height: 200px;
  }
  .aboutus section div button{
    margin: 0 0;
  }
  .vision-img{
    border-radius: 0;
  }
  .vision-grid{
    display: grid;
    padding: 24px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    margin-top: 0px;
  }
  .transparent{
    display: block;
    padding: 8px;
  }
  .transparent .btn{
    margin-top: 10px;
  }
  .transparent .godown{
    margin-top: 10px;
  }
  .transparent p{
    margin-top: 24px;
  }
  .transparent .btn a{
    padding: 2px;
  }
  .transparent .btn a svg{
    margin-left: 0;
    margin-right: 16px;
  }
  .vision{
    padding: 16px;
  }
  .slides {
    margin-top: 20%;
  }
  .intro{
    top: 360px;
  }
  .blog{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px;
    margin-top: 48px;
  }
  .blog .blog-div, .blog .blog-svg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blog .blog-div{
    margin-top: 32px;
    justify-content: flex-start;
  }
  .blog .h-four,.blog .h-p{
    text-align: left;
    padding-right: 40px;
    padding-left: 40px;
  }
  .blog .btn{
    width: 100%;
    margin-top: 24px;
    display: block;
  }
  .blog .btn a{
    margin-left: 40px;
    width: 200px;
  }
  .joinus .blue{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(293deg, #01205F 88.56%, #190DAA 226.77%);
    padding: 32px;
  }
  .paddit{
    padding: 0;
  }
  .joinus-svg{
    transform: translateY(20%);
  }
  .joinus-text{
    padding: 40px;
    border-radius: 8px;
  }
  .joinus div{
    margin-top: 16px;
  }
  .joinus-text .h-four{
    font-size: 28px;
  }
  .joinus-text h4, .joinus-text p{
    text-align: left;
  }
  /* footer */
  footer{
    margin-top: 80px;
  }
  .footer-logo{
    grid-column: 1/1;
    width: 100px;
    height: 100px;
  }
  .footer-logo a img{
    width: 100%;
    height: 100%;
  }
  .footer{
    grid-template-columns: repeat(6, 1fr);
  }
  .footer .similr{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .footer .six .footer-links{
    justify-content: space-evenly;
  }
  .footer-sh{
    margin: 0 auto;
    margin-top: 8px;
  }
  .footer-sh p{
    margin-top: 16px;
  }
}

@media screen and (min-width: 998px) {
  .first-sec{
    margin-top: 0px;
  }
  .tab-arrow {
    display: none;
  }
  .desktop-arrow {
    display: block;
  }
  .slides {
    transform: translateY(0%);
    margin-top: 0;
  }
  .nav-manual {
    margin-top: 5%;
  }
  .nav-auto {
    top: 91%;
  }
  .intro {
    top: 72%;
  }
  .main {
    height: 100vh;
  }

  /* sections */
  section{
    margin-left: 8px;
  }
  .sections {
    margin-top: 20%;
  }
  .first-section {
    margin-top: 0;
  }
  .section .grow {
    top: 0;
  }
  .first-section .text {
    top: 40px;
    left: 150px;
  }
  .first-section .bent-arrow {
    top: 10px;
    left: 150px;
  }
  .second {
    margin-top: 84%;
  }
  .second .grid {
    grid-column-gap: 48px;
  }
  .pands {
    /* margin-top: 104%; */
  }
  .pands .cont {
    grid-column-gap: 48px;
  }
  .pands-1 {
    padding-left: 24px;
    margin-top: 0;
  }
  .pands-1 .arrow {
    left: 95%;
    top: 20%;
  }
  .aboutus section {
    grid-template-columns: 1fr 1fr;
    padding: 16px;
  }
  .under-masked{
    position: absolute;
    top: 80px;
    width: 100px;
    left: 440px;
    /* z-index: 1; */
    opacity: 0.9;
    transform: translateY(40%);
  }
  .under-masked img{
    width:100%;
    height: 200px;
  }
  .vision-grid{
    margin-top: 40px;
  }
  .transparent{
    display: block;
    padding: 60px;
  }
  .transparent p{
    margin-top: 40px;
  }
  .transparent .btn{
    margin-top: 80px;
  }
  .transparent .godown{
    margin-top: 80px;
  }
  .transparent .btn a svg{
    margin-left: 0px;
    margin-right: 0px;
  }
  .vision{
    padding: 24px;
  }
  .joinus-svg{
    transform: translateY(0%);
  }
  /* footer */
  footer{
    margin-top: 200px;
  }
  .footer-logo{
    width: 150px;
    height: 150px;
  }
}
