* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.bdr {
  border: 1px solid red;
}
#spinner   {  
  animation: spin 2s linear infinite;
  /* color: green; */
}
.spinner{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
}

@keyframes spin {
  0% { 
    transform: rotate(0deg); 
    color: #01205f;
    }
  100% { 
    transform: rotate(360deg); 
    color: #4b8521;
  }
}
.floater{
  position: fixed;
  left: 80%;
  right: 20%;
  bottom: 0;
  width: 200px;
  transform: translate(-30%,-100%);
  /* transform: translateX(-30%); */
  z-index: 10;
  display: none;
}
.floater small{
  color: #fff;
}
.floater a{
  background-color: #000;
  padding: 8px;
}
.floater a svg{
  height: 100%;
}
.floater p{
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: #1f1f1f;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
button {
  font-family: "Poppins";
  outline: 0;
  border: 0;
}
body {
  height: 100vh;
}

/* header section */
header {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 10px rgba(29, 29, 29, 0.07);
  width: 100vw;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .header:nth-child(2) {
  margin-left: 100px;
}
nav .desktop-links {
  display: flex;
  margin-top: 25px;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px; */
}
nav .a-links a {
  padding: 5px;
}
.a-links a:not(.desktop-btn a, .dropdown-desktop):hover {
  border-bottom-style: solid;
  width: fit-content;
  border-bottom-color: #4b8521;
}
.mobile-btn button,
.desktop-btn button {
  background: linear-gradient(
    146.48deg,
    rgba(75, 133, 33, 0.79) 0%,
    rgba(121, 234, 39, 0.94) 101.26%
  );
  color: #ffffff;
  height: 45px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  overflow: hidden;
  position: relative;
}
button .circle{
  position:absolute;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%,-50%) scale(0);
  animation: scale 0.5s ease-out;
}
 .h-p{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.9;
}
.h-p{
  color: #01205F;
  text-align: center;
}
@keyframes scale {
  to{
    transform: translate(-50%,-50%) scale(3);
    opacity: 0;
  }
}
.desktop-btn {
  width: 150px;
}
.mobile-links a,
.fa-xmark {
  color: #eeeeee;
}
.mobile-links a:hover,
.desktop-links .a-links a:hover {
  color: #4b8521;
}

/* mobile dropdown */
.dropdown-div {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background: #06051c;
  transition: 1s;
  grid-area: something;
  z-index: 10;
}

/* the clickable div beside the slidein navbar */
.nothing {
  grid-area: nothing;
}
/* the clickable div beside the slidein navbar end*/

.mobile-dropdown {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: grid;
  overflow-x: hidden;
  grid-template-columns: 1fr 0.3fr;
  transition: 1s;
  grid-template-areas: "something nothing";
  z-index: 5;
}
.visible {
  visibility: hidden;
}
.drop-down-content {
  margin-top: 8px;
}
.mobile-links {
  display: flex;
  flex-direction: column;
}
.not {
  margin-top: 24px;
}
.not div {
  margin-top: 16px;
}
.under-services,
.under-products {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding-left: 20px;
  transition: 1s;
}
.services div {
  margin-top: 0px;
}
.under-admissions {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding-left: 20px;
  transition: 1s;
}
.dropdown-mobile {
  display: flex;
  align-items: center;
}
.dropdown-mobile .fa-solid {
  margin-left: 8px;
}
.mobile-btn {
  margin-top: 48px;
}
.mobile-btn button {
  width: 100%;
}
.desktop,
.hide {
  display: none;
}

/* classes added in javascript */
.left {
  transform: translateX(-200%);
}
.show {
  transform: translateX(0);
}
.color {
  background: hsla(0, 0%, 12%, 0.8);
}
.fl {
  display: flex;
}
.hidden {
  overflow-y: hidden;
}
/* classes added in javascript end */
nav {
  display: flex;
  flex-direction: row-reverse;
}
.bars {
  /* width: 100%; */
  display: flex;
  justify-content: left;
}
.m-logo{
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.m-logo .logo{
  margin-left: 30%;
}
.circle {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 50%;
}
.mobicon {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.desktop-dropdown{
  position: absolute;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 8px;
  border: 2px solid #4b8521;
}
.desktop-dropdown h4{
  font-weight: 500;
  font-size: 15px;
}
.desktop-dropdown h4:hover{
  color: #4b8521;
}

.dunder-services, .dunder-products{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: 0 auto;
  width: 100%;
}
.hide {
  display: none;
}
.fl{
  display: flex;
}
.rotate{
  transform: rotate(180deg);
}
/* header end */

/* footer  */
footer{
  margin-top: 24px;
  width: 100vw;
  padding: 32px;
  background: #F7F7F7;
  border: 1px solid #EEEEEE;
  /* height: 20px; */
}
footer .h-p{
  text-align: left;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
  font-weight: 600;
}
.ftrcolor{
  color: #396D13;
  opacity: 0.9;
}
.footer{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer-sh a:hover{
  text-decoration: underline;
  text-decoration-color: #396D13;
}
.footer .similr{
  margin-top: 24px;
  max-height: 160px;
}
.footer-logo{
  grid-column: 1/3;
}
.footer .similr h4{
  font-weight: 700;
}
.copyrite{
  margin-top: 48px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.copyrite .h-p{
  font-size: 14px;
}
.footer-sh p{
  margin-top: 16px;
}
.footer .six .footer-links  a{
  color: #396D13;
}
.footer .six{
  margin-top: 40px;
}
.footer .six .footer-links a:hover{
  font-size: 20px;
}
.footer .six .footer-links{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
/* footer end */

/* desktop and Tab */
@media screen and (min-width: 728px) {
  .floater{
    transform: translate(0%,-100%);
  }
  nav {
    flex-direction: row;
  }
  .mobile {
    display: none;
  }
  nav .a-links a:not(:first-child) {
    margin-left: 24px;
  }
  .desktop {
    display: block;
  }
  /* header section */
  header {
    margin-top: 0;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100vw;
  }
  .main{
    margin-top: 8px;
  }
  .desktop-services{
    transform: translate(200%, -10%);
  }
  .desktop-products{
    transform: translate(380%, -10%);
  }
  .hide {
    display: none;
  }
  .display{
    display: flex;
  }
  .desktop-links .fa-angle-down{
    font-size: 15px;
  }
  /* footer */
  footer{
    margin-top: 80px;
  }
  .footer-logo{
    grid-column: 1/1;
    width: 100px;
    height: 100px;
  }
  .footer-logo a img{
    width: 100%;
    height: 100%;
  }
  .footer{
    grid-template-columns: repeat(6, 1fr);
  }
  .footer .similr{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .footer .six .footer-links{
    justify-content: space-evenly;
  }
  .footer-sh{
    margin: 0 auto;
    margin-top: 8px;
  }
  .footer-sh p{
    margin-top: 16px;
  }
}
@media screen and (min-width: 720px) and (max-width: 819){
  nav .a-links a{
    font-size: 14px;
  }
}
@media screen and (min-width: 998px) {
  nav .a-links a:not(:first-child) {
    margin-left: 50px;
  }
  .desktop-services{
    transform: translate(300%, -8%);
  }
  .desktop-products{
    transform: translate(510%, -8%);
  }
  /* footer */
  footer{
    margin-top: 128px;
  }
  .footer-logo{
    width: 150px;
    height: 150px;
  }
}
